@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: theme('colors.text');
        background-color: #242424;
        --border: theme('colors.border');
        --bg: theme('colors.bg');
        --text: theme('colors.text');

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply mx-auto w-full min-w-320 max-w-1280 rounded-custom;
    }

    header {
        @apply flex flex-row items-center justify-start;
    }

    h1 {
        @apply text-h1 leading-tight;
    }

    a {
        @apply font-medium text-link no-underline;
    }

    a:hover {
        @apply text-linkHover;
    }

    button {
        @apply cursor-pointer border border-transparent bg-buttonBg px-4 py-1.5 font-medium transition-colors duration-200;
    }

    button:hover {
        @apply border-link;
    }

    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    @media (prefers-color-scheme: light) {
        :root {
            color: theme('colors.lightText');
            background-color: theme('colors.lightBg');
            --border: theme('colors.lightBorder');
            --bg: theme('colors.lightBgSecondary');
            --text: theme('colors.lightText');
        }

        a:hover {
            color: #747bff;
        }

        button {
            background-color: theme('colors.lightButtonBg');
        }
    }
}

@layer components {
    .container_border {
        border: 3px solid var(--border) !important;
        background-color: var(--bg);
    }

    #modal {
        @apply fixed inset-0 z-10 flex items-center justify-center;
        background-color: rgba(182, 182, 182, 0.527);
        backdrop-filter: blur(100px);
    }

    #modal > div {
        @apply p-15;
    }

    #modal:empty {
        display: none;
    }
}
